*txt
*png
*jpg
*tgz
*backup*
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd_
.env
*pdf
!assets/*.png
!data/*.dvc
!tests/
/qn_pairs
/report.html

# Explicitly include these folders
!data/test_docs/
!frontend/assets/