streamlit
pyyaml
qdrant-client
redis
streamlit
pathlib
docx2txt
dvc[gs]
llama-index==0.10.13
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
llama-index-storage-kvstore-redis
llama-index-storage-docstore-redis
deepeval
pytest
datasets
colorlog
fastapi
uvicorn
python-multipart