streamlit
pyyaml
# qdrant_client
redis
streamlit
pathlib
docx2txt
dvc[gs]
onnxruntime
qdrant-client[fastembed-gpu]
huggingface-hub
llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
llama-index-storage-kvstore-redis
llama-index-storage-docstore-redis
llama-index-postprocessor-flag-embedding-reranker
FlagEmbedding
deepeval
pytest
datasets
colorlog
PyMuPDF==1.24.2
prometheus_client
prometheus-fastapi-instrumentator
IPython
xformers
#API dependencies
fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic[email]
pydantic-settings
python-multipart
aiofiles
firebase-admin
aioredis
aiosqlite
dependency-injector
python-dotenv
tabulate
huggingface-hub==0.23.0
transformers==4.37.0
#Testing dependencies
pytest==8.2.2
pytest-asyncio==0.23.8
pytest-html==4.1.1
pytest-metadata==3.1.1

#ragflow 
tika==2.6.0
python-docx 
StrEnum==0.4.15
datrie==0.8.2
hanziconv==0.3.2
pycryptodomex==3.20.0
pdfplumber==0.10.4
roman_numbers==1.0.2
word2number==1.1
cn2an==0.5.22
xgboost==2.1.0
opencv_python==4.9.0.80
Shapely==2.0.5
pyclipper==1.3.0.post5
openpyxl==3.1.2
python_pptx==0.6.23
readability_lxml==0.8.1
html_text==0.6.2